<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load static %}
<html lang="zxx">

<head>
	<style>
    body {
        background: linear-gradient(to right, rgba(0, 0, 255, 0.25), rgba(0, 0, 255, 0.35));
    }
</style>
	<base href="/static/admin/login/">
	<title>Admin Login</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Music Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Reem+Kufi&amp;subset=arabic" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //web-fonts -->

</head>

<body>
	<!-- title -->
	<h1>
		<span>A</span>dmin
		<span>L</span>ogin
		<span>F</span>orm</h1>
	<!-- //title -->
	<!-- content -->
	<div class="sub-main-w3">
		<form action="/admin_login/" method="post" autocomplete="off">
			{% csrf_token %}
			<div class="form-style-agile">
				<label>
					Username
					<i class="fas fa-user"></i>
				</label>
				<input placeholder="Email" name="email" type="text" required="">
			</div>
			<div class="form-style-agile">
        <label>
            Password
            <i class="fas fa-unlock-alt"></i>
        </label>
        <input id="password" placeholder="Password" name="Password" type="password" required>
    </div>
    <!-- Checkbox -->
    <div class="wthree-text">
        <ul>
            <li>
                <label class="anim">
                    <input type="checkbox" id="showPassword" class="checkbox">
                    <span>Show Password</span>
                </label>
            </li>
        </ul>
    </div>
			<input type="submit" value="Log In">
			<a href="/"><input type="button" value="Back" style="margin-right:470px;"></a>
		</form>


	</div>

	<!-- //content -->

	<!-- copyright -->

	<!-- //copyright -->
<script>
        document.getElementById('showPassword').addEventListener('change', function() {
            var passwordField = document.getElementById('password');
            if (this.checked) {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    </script>
</body>

</html>