<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
{% load static %}
<html lang="en">

<head>
  <base href="/static/admin/home/">
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>ADMIN</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
  <!-- web fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
  <!-- /web fonts -->
</head>
<script>
  {% for i in messages %}
   alert('{{ i }} ')
  {% endfor %}
  </script>

<body>
  <!-- header -->
  <header class="w3l-header">
    <div class="hero-header-11">
      <div class="hero-header-11-content">
        <div class="container">
          <nav class="navbar navbar-expand-xl navbar-light py-sm-2 py-1 px-0">
            <a class="navbar-brand editContent" href="/admin_home/">ADMINISTRATOR</a>
            <!-- if logo is image enable this   
				<a class="navbar-brand" href="#index.html">
						<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
				</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/admin_home/">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/admin_home/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    MANAGE LOG

                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/restaurants_details/">RESTAURANTS</a>
                    <a class="dropdown-item" href="/delivery_details/">DELIVERY</a>
                    <a class="dropdown-item" href="/sustainability_details/">SUSTAINABILITY</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/upload_stock/">UPLOAD STOCK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/warehouse_stock/">WAREHOUSE</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/admin_home/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    REPORTS
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="/sus_report/">SUSTAIN REPORT</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin_logout/">LOGOUT</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- //header -->
  <!--  Main banner section -->
  <section class="w3l-main-banner">
    <div class="companies20-content">
      <div class="companies-wrapper">
        <div class="item">
          <li>
            <div class="slider-info banner-view">
              <div class="banner-info container">
<!--                <h3 class="banner-text"><small>Hello, I’m</small><br>-->
<!--                  Christopher-->
<!--                </h3>-->
<!--                <p class="my-4 mb-5">UI/UX Designer</p><br>-->
<!--                <a href="#gallery" class="btn btn-primary theme-button mr-3">My Work</a>-->
<!--                <a href="#about.html" class="btn btn-outline-primary theme-button">Hire Me</a>-->
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>
  </section>
  <!--  //Main banner section -->
  <!--  About section -->
  <div class="w3l-about1 pt-5" id="about">
    <div class="container pt-lg-3">
      <h3 class="global-title">About Us</h3>
      <div class="aboutgrids row">
        <div class="col-lg-6 aboutgrid2">
          <img src="assets/images/about.jpg" alt="about image" class="img-fluid" />
        </div>
        <div class="col-lg-6 aboutgrid1 my-lg-0 my-5">
          <h4></h4>
      <div style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;">
    <p style="max-width: 800px; line-height: 1.6;">
        As the Admin of the "Comprehensive Restaurant and Food Supply Chain Solutions" project, I oversee the seamless coordination between our warehouse, restaurants, and supply chain operations. My role is to ensure that every aspect of our service—from sourcing sustainable products to delivering them safely—is executed with precision and efficiency. With a commitment to quality and sustainability, I work closely with all teams to support our clients in achieving their culinary and operational goals.
    </p>
</div>
        </div>
      </div>
    </div>


  <!--  //About section -->
  <!--  services section -->
  <section class="w3l-index6" id="service">
    <div class="features-with-17_sur py-5">
      <div class="container py-lg-3">
        <h3 class="global-title my-title">Our Services</h3>
        <div class="features-with-17-top_sur">
          <div class="row">
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
              <div class="features-with-17-right-tp_sur">

                <div class="features-with-17-left2">
                  <h6></h6>

                  <p style=" justify-content: center; align-items: center; text-align: center;">As the Admin, I provide comprehensive management of our food supply chain, ensuring efficient operations from sourcing to delivery</p>
                </div><br><br>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
              <div class="features-with-17-right-tp_sur">

                <div class="features-with-17-left2">
                  <h6></h6>
                  <p style=" justify-content: center; align-items: center; text-align: center;">My services include coordinating sustainable product sourcing, overseeing inventory management, optimizing logistics for timely deliveries, and ensuring compliance with quality and safety standards</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 mt-lg-0 mt-5">
              <div class="features-with-17-right-tp_sur">

                <div class="features-with-17-left2">
                  <h6></h6>
                  <p style=" justify-content: center; align-items: center; text-align: center;"> I also facilitate seamless communication between teams, helping restaurants receive the best products and services tailored to their needs.</p>
                </div><br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  //services section -->
   <footer class="w3l-footer">
    <div id="footers14-block" class="py-3">
      <div class="container">

          <div class="copyright mt-1" style="margin-left:260px">
            <p style="color:white;">Comprehensive Restaurant and Food Supply Chain Solutions for Efficient Operations and Sustainability</p>
          </div>
        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up" aria-hidden="true"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->

  </footer>
  <!-- Footer -->

  <!-- jQuery and Bootstrap JS -->
  <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- Template JavaScript -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.popup-with-zoom-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-zoom-in'
      });

      $('.popup-with-move-anim').magnificPopup({
        type: 'inline',

        fixedContentPos: false,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'my-mfp-slide-bottom'
      });
    });
  </script>

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->


  <script src="assets/js/smartphoto.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const sm = new SmartPhoto(".js-img-viwer", {
        showAnimation: false
      });
      // sm.destroy();
    });
  </script>


</body>

</html>